
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=M+PLUS+Code+Latin:wght@300&display=swap');


body{
    margin: 0px;
    background-color: #e9f8f3;
    padding: 10px;
}

.topbar{
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 250px;
}

.main{
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.logo{
    display: flex;
    justify-content: center;
}

.menu{
    font-family: 'Cutive Mono', monospace;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu ul{
    display: inline-flex;
}

.menu li{
    margin: 20px;
    list-style-type: none;
}

.menu li a{
    text-decoration-line: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: solid #82d8ba 2px;
    padding: 5px;
}

.menu li a:hover{
    color: white;
    background-color: #82d8ba;
}

.notif{
    padding: 20px;
    font-family: 'M PLUS Code Latin', sans-serif;
    color: #052114;
}

.notif-box{
    background-color: #82d8ba;
    padding: 3px;
    overflow-y: scroll;
    border-radius: 30px;
    height: 500px;
}

.notif-box li{
    list-style-type: square;
}


.batches{
    
    padding: 40px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    
